<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Astro</title>
    </head>
<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/Blog/">Blog</a>
    
    <h1>Soy Carlos</h1>

    <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda pagina de mi sitio web</p>
    <style>
        body {
            background-color: lightblue;
            font-family: system-ui, sans-serif;
            line-height: 1.6;
            padding: 2rem;
            max-width: 650px;
            margin: 0 auto;
        }
        h1 {
            float: center;
            margin-bottom: 0; 
            font-size: 2.5rem;
            margin-bottom: 0;
            font-size: 60px;
        }
        a {
            position: relative;
            right: 360px;
            margin-right: 1rem;
        }
        p {
            font-size: 1.25rem;
            position: relative;
            right: 360px;
        }

</body>
</html>